.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    position: relative
}